<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.matatabi.padm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxYZcD5r4mLS_0Y2MO1JQF9gqa9BMO2V0" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AdminActivity" />
        <activity android:name=".activities.MahasiswaActivity" />
        <activity android:name=".activities.DataUserActivity" />
        <activity
            android:name=".activities.AddUserActivity"
            android:parentActivityName=".activities.DataUserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DataUserActivity" />
        </activity>
        <activity android:name=".activities.EditUserActivity" />
        <activity android:name=".activities.SubMenuDataDaerahActivity" />
        <activity android:name=".activities.DataKabupatenActivity" />
        <activity android:name=".activities.AddKabupatenActivity" />
        <activity android:name=".activities.EditKabupatenActivity" />
        <activity android:name=".activities.DataKecamatanActivity" />
        <activity android:name=".activities.EditKecamatanActivity" />
        <activity android:name=".activities.AddKecamatanActivity" />
        <activity android:name=".activities.DataKelurahanActivity" />
        <activity android:name=".activities.AddKelurahanActivity" />
        <activity android:name=".activities.EditKelurahanActivity" />
        <activity android:name=".activities.DataLatLngActivity" />
        <activity android:name=".activities.EditLatLngActivity" />
        <activity android:name=".activities.AddLatlngActivity" />
        <activity
            android:name=".activities.DetailLatLngActivity"
            android:label="@string/title_activity_detail_lat_lng" />
        <activity android:name=".activities.TentangAplikasiActivity" />
        <activity
            android:name=".activities.OnBoardingScreenMhs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.AddMahasiswaActivity"></activity>
    </application>

</manifest>