<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.matatabi.padm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxYZcD5r4mLS_0Y2MO1JQF9gqa9BMO2V0" />

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MahasiswaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DataUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddUserActivity"
            android:parentActivityName=".activities.DataUserActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DataUserActivity" />
        </activity>
        <activity
            android:name=".activities.EditUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SubMenuDataDaerahActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DataKabupatenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddKabupatenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditKabupatenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DataKecamatanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditKecamatanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddKecamatanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DataKelurahanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddKelurahanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditKelurahanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DataLatLngActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditLatLngActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddLatlngActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DetailLatLngActivity"
            android:label="@string/title_activity_detail_lat_lng"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TentangAplikasiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OnBoardingScreenMhs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddMahasiswaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DetailMhsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShowMapMhsActivity"
            android:label="@string/title_activity_show_map_mhs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditMhsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShowMapsAllMhsActivity"
            android:label="@string/title_activity_show_maps_all_mhs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AdminAllDataMhsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DataPadmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegistrasiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.GrafikPadmActivity"></activity>
    </application>

</manifest>